<div class="form-group">
    <label for="year">Year</label>
    <div class="input-group">
        <input type="number" min="2017" step="1" class="form-control" id="year" [(ngModel)]="year" (onChange)="getGraphdata()">
    </div>
</div>
<div class="form-group">
    <label for="pointtype">Type</label>
    <select class="form-control" id="pointtype" [(ngModel)]="chtype" (change)="onChangeChtype()">
        <option value="driver">Driver</option>
        <option value="codriver">Codriver</option>
    </select>
</div>
<div class="form-group">
    <label for="driver">{{selLabel}}</label>
    <div class="input-group">
        <p-multiSelect id="driver" [options]="selcars" [(ngModel)]="selectedData" style="width: 100%; height: 42px"
                       [style]="{'width':'100%', 'height':'100%'}" (onChange)="setGraphdata()">
        </p-multiSelect>
    </div>
</div>
<p-chart type="bar" [data]="data" [options]="options"></p-chart>
