<div class="form-group" *ngIf="this.rallys.length > 0">
    <label for="rally">Rally</label>
    <div class="input-group">
        <p-dropdown [options]="selrallys" [(ngModel)]="rallyselected" id="rally" style="width: 100%; height: 42px"
                    [style]="{'width':'100%', 'height':'100%'}" (onChange)="getCars()">
            <ng-template let-rally pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <span class="flag-icon flag-icon-{{getFlagCode(rally.value)}}"></span>
                    <div style="font-size:14px;float:right;margin-top:4px">{{rally.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
</div>
<div class="form-group" *ngIf="this.rallys.length > 0">
    <label for="stage">Stage</label>
    <div class="input-group">
        <p-multiSelect [options]="selstages" (onChange)="getGraphdata()"
                       [(ngModel)]="selectedStages" style="width: 100%; height: 42px" id="stage"
                       [style]="{'width':'100%', 'height':'100%'}">
        </p-multiSelect>
    </div>
</div>
<div class="form-group" *ngIf="this.rallys.length > 0">
    <div class="input-group">
        <p-multiSelect [options]="selcars" (onChange)="getGraphdata()"
                       [(ngModel)]="selectedCars" style="width: 100%; height: 42px"
                       [style]="{'width':'100%', 'height':'100%'}">
        </p-multiSelect>
    </div>
</div>
<p-chart type="horizontalBar" [data]="data" [options]="options"></p-chart>
