<div class="container">
    <div class="row">
        <div class="col">
            <h1>Stagewins</h1>
            <p-selectButton [options]="pietype" [(ngModel)]="selectedPie" (click)="setPieData()"></p-selectButton>
            <div class="form-group" *ngIf="selectedPie === 'rally'">
                <label for="rally">Rally</label>
                <div class="input-group">
                    <p-dropdown [options]="selrallys" [(ngModel)]="rallyselected" id="rally"
                    >
                        <ng-template let-rally pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <span class="flag-icon flag-icon-{{getFlagCode(rally.value)}}"></span>
                                <div style="font-size:14px;float:right;margin-top:4px">{{rally.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" (click)="setPieDataforRally()">
                            <i class="fa fa-refresh"></i>
                           <span class="sr-only">Refresh</span>
                        </button>
                      </span>
                </div>
            </div>
            <div class="form-group" *ngIf="selectedPie === 'all' || selectedPie === 'power'">
                <label for="year">Year</label>
                <div class="input-group">
                    <p-dropdown [options]="selyears" [(ngModel)]="yearselected" id="year"
                    >
                        <ng-template let-rally pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:right;margin-top:4px">{{rally.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="setPieDataforYear()" *ngIf="selectedPie === 'all'">
            <i class="fa fa-refresh"></i>
           <span class="sr-only">Refresh</span>
        </button>
        <button class="btn btn-secondary" type="button" (click)="setPowerPieDataforYear()"
                *ngIf="selectedPie === 'power'">
            <i class="fa fa-refresh"></i>
           <span class="sr-only">Refresh</span>
        </button>
      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p-chart type="pie" [data]="driverdata"></p-chart>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p-chart type="pie" [data]="codriverdata"></p-chart>
        </div>
        <div class="col">
            <p-chart type="pie" [data]="manufacturerdata"></p-chart>
        </div>
    </div>

</div>
