<div class="form-group" *ngIf="this.rallys.length > 0">
    <label for="rally">Rally</label>
    <div class="input-group" >
        <p-dropdown [options]="selrallys" [(ngModel)]="rallyselected" id="rally" style="width: 100%; height: 42px"
                    [style]="{'width':'100%', 'height':'100%'}">
            <ng-template let-rally pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{rally.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="getStages()">
            <i class="fa fa-refresh"></i>
           <span class="sr-only">Refresh</span>
        </button>
      </span>
    </div>
</div>
<div class="form-group" *ngIf="this.stages.length > 0">
    <label for="stage">Stage</label>
    <div class="input-group" >
        <p-dropdown [options]="selstages" [(ngModel)]="stageselected" id="stage" style="width: 100%; height: 42px"
                    [style]="{'width':'100%', 'height':'100%'}">
            <ng-template let-stage pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{stage.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="getStagetimes()">
            <i class="fa fa-refresh"></i>
           <span class="sr-only">Refresh</span>
        </button>
      </span>
    </div>
</div>
<div class="form-group">
    <label for="AllTimes">Insert Overalltimes</label>
    <textarea class="form-control" id="AllTimes" rows="20" [(ngModel)]="stagetimesRaw"></textarea>
</div>
<button class="btn" (click)="generateObjs()">
    Generate Stagetimes
</button>