<div class="form-group" *ngIf="this.rallys.length > 0">
    <label for="rally">Rally</label>
    <p-dropdown [options]="selrallys" [(ngModel)]="rallyselected" id="rally" style="width: 100%; height: 42px"
                [style]="{'width':'100%', 'height':'100%'}" (onChange)="updateCars()">
        <ng-template let-rally pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <div style="font-size:14px;float:right;margin-top:4px">{{rally.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>
</div>
<div class="form-group" *ngIf="this.rallys.length > 0">
    <div class="input-group">
        <p-multiSelect [options]="selcars" [(ngModel)]="selectedCars" style="width: 100%; height: 42px"
                       [style]="{'width':'100%', 'height':'100%'}">
        </p-multiSelect>
    </div>
</div>
<button
        class="btn btn-primary form--space"
        [disabled]="selectedCars.length < 1" (click)="insertRallyCars()">Submit
</button>


<p-dataList [value]="RallyCars" [paginator]="false">
    <p-header>
        List of Cars for Rally
    </p-header>
    <ul class="list-group">
        <ng-template let-rallycar pTemplate="item">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>#{{rallycar.startnumber}} {{rallycar.carObj.driverObj.firstname}} {{rallycar.carObj.driverObj.lastname}} / {{rallycar.carObj.codriverObj.firstname}} {{rallycar.carObj.codriverObj.lastname}}</span>
                {{rallycar.carObj.manufacturerObj.name}}
                <button class="btn btn-outline-danger" (click)="confirmDel(rallycar)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="sr-only">Delete Rallycar Number {{rallycar.startnumber}}</span>
                </button>
            </li>
        </ng-template>
    </ul>
</p-dataList>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle"></p-confirmDialog>
