<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form--space">
    <div class="form-group">
        <label for="name">Name</label>
        <input
                id="name"
                class="form-control"
                formControlName="name">
    </div>
    <div class="form-group">
        <label for="shortname">Shortname</label>
        <div class="input-group">
            <div class="input-group-addon" *ngIf="myForm.controls['shortname'].valid">
                <span class="flag-icon flag-icon-{{shortname.value.toLowerCase()}}"></span>
            </div>
            <input
                    id="shortname"
                    class="form-control"
                    minlength="2"
                    maxlength="2"
                    formControlName="shortname" #shortname>
        </div>
    </div>
    <button
            class="btn btn-primary"
            [disabled]="!myForm.valid">
        Submit
    </button>
    <button class="btn btn-danger" (click)="resetWholeForm()" type="reset">
        Reset
    </button>
</form>

<p-dataList [value]="countrys" [paginator]="false">
    <p-header>
        List of Countrys
    </p-header>
    <ul class="list-group">
        <ng-template let-country pTemplate="item">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                [class.list-group-item-primary]="CountrytoEdit.name === country.name">
                <span class="flag-icon flag-icon-{{country.shortname.toLowerCase()}}"></span>
                {{country.name}}
                <button class="btn btn-outline-primary" (click)="editCountry(country)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">Edit {{country.name}}</span>
                </button>
            </li>
        </ng-template>
    </ul>
</p-dataList>
