@import "../css/flag-icon.min.css";

body {
    padding-top: 3.8rem;
    background-color: #eee;
}

.navbar {
    z-index: 999;
}

.mainsidebar {
    margin-left: -15px;
    margin-right: -15px;
}

.nav-link {
    color: #fff;
}

.nav-link.active{
    background-color: #161616;
}

.nav-link:hover {
    color: #fff;
    background-color: #161616;
}


@media (min-width: 768px) {
    .mainsidebar {
        margin: 20px;
    }
}

